<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CallForBids</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CallForBids.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <aside class="col-12 col-md-3 col-lg-2 bg-white border-end box-shadow mb-3">
                <div class="d-flex flex-column align-items-center align-items-md-start p-3 bg-light">
                    <a asp-area="" asp-page="/Index" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                        <span class="fs-5 fw-semibold">Admin Bidding Platform</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#bids-collapse" aria-expanded="false">
                                Bids
                            </button>
                            <div class="collapse show" id="bids-collapse" style="">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><a class="dropdown-item" asp-area="RPBids" asp-page="/Index">List</a></li>
                                    <li><a class="dropdown-item" asp-area="RPBids" asp-page="/Create">Create</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#offices-collapse" aria-expanded="false">
                                Offices
                            </button>
                            <div class="collapse show" id="offices-collapse" style="">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li>
                                        <a class="dropdown-item" asp-area="RPOffices" asp-page="/Index">List</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="RPOffices" asp-page="/Create">Create</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#projects-collapse" aria-expanded="false">
                                Projects
                            </button>
                            <div class="collapse show" id="projects-collapse" style="">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><a class="dropdown-item" asp-area="RPProjects" asp-page="/Index">List</a></li>
                                    <li><a class="dropdown-item" asp-area="RPProjects" asp-page="/Create">Create</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#suppliers-collapse" aria-expanded="false">
                                Suppliers
                            </button>
                            <div class="collapse show" id="suppliers-collapse" style="">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><a class="dropdown-item" asp-area="RPSuppliers" asp-page="/Index">List</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#submissions-collapse" aria-expanded="false">
                                Submissions
                            </button>
                            <div class="collapse show" id="submissions-collapse" style="">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><a class="dropdown-item" asp-area="RPSubmissions" asp-page="/Index">List</a></li>
                                </ul>
                             </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                     </ul>
                     
                    <hr />
                    <div class="mt-auto">
                        <a class="d-flex align-items-center link-dark text-decoration-none"
                        asp-area="" asp-page="/Account/Logout">Sign out</a>
                    </div>
                </div>
            </aside>
            <div class="col-12 col-md-9 col-lg-10 py-3">
                <main role="main">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - CallForBids - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>