@page
@model CallForBids.Pages.Account.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>

<body class="body">
    <div class="container">
        <div class="row">
            <div class="card col-md-4 mx-auto mt-5">
                <div class="card-body">
                    <form id="loginForm" method="post">
                        <div class="text-center">
                            <h1>Log In</h1>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show"></div>
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control" type="email" autocomplete="off" />
                            <span asp-validation-for="Email" class="form-text text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label"></label>
                            <input asp-for="Password" class="form-control" type="password"  autocomplete="off" />
                            <div class="invalid-feedback" style="margin-top: 0; font-size: 16px;">
                                The Password field is required.
                            </div>
                        </div>
                        <button id="loginSAT" type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
             </div>
        </div>
    </div>

    <partial name="_ValidationScriptsPartial" />
    <style>
        .form-control.is-invalid, .was-validated .form-control:invalid {
            background-image: none;
            border-color: #ced4da;
        }
    </style>

    <script>
        $(function () {
            $('#loginSAT').on('click', function () {
                let $password = $('#Password');
                $password.removeClass('is-invalid');
                let password = $password.val();

                if (!password) {
                    $password.addClass('is-invalid');
                }

                $('#loginForm').validate();
                if (($('#loginForm').valid() === false) || !password)
                    return false;

                return true;
            });
        });
    </script>
</body>
</html>