@model CallForBids.Models.Bids
@{
    ViewData.TemplateInfo.HtmlFieldPrefix = "Bid";
}
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="PublicationDate" class="control-label"></label>
    <input asp-for="PublicationDate" class="form-control" />
    <span asp-validation-for="PublicationDate" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="LimitDate" class="control-label"></label>
    <input asp-for="LimitDate" class="form-control" />
    <span asp-validation-for="LimitDate" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Title" class="control-label"></label>
    <input asp-for="Title" class="form-control" />
    <span asp-validation-for="Title" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Number" class="control-label"></label>
    <input asp-for="Number" class="form-control" />
    <span asp-validation-for="Number" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Description" class="control-label"></label>
    <input asp-for="Description" class="form-control" />
    <span asp-validation-for="Description" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="FiscalYear" class="control-label"></label>
    <input asp-for="FiscalYear" class="form-control" />
    <span asp-validation-for="FiscalYear" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="OfficeId" class="control-label"></label>
    <select asp-for="OfficeId" class="form-control" asp-items="ViewBag.OfficeId"></select>
</div>
<div class="form-group">
    <label asp-for="ProjectId" class="control-label"></label>
    <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
</div>
<div class="form-group form-check">
    <label class="form-check-label">
        <input class="form-check-input" asp-for="IsAvailable" /> @Html.DisplayNameFor(model => model.IsAvailable)
    </label>
</div>