@model CallForBids.Models.Projects
@{
    ViewData.TemplateInfo.HtmlFieldPrefix = "Project";
}
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Title" class="control-label"></label>
    <input asp-for="Title" class="form-control" />
    <span asp-validation-for="Title" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Poet" class="control-label"></label>
    <input asp-for="Poet" class="form-control" />
    <span asp-validation-for="Poet" class="text-danger"></span>
</div>