@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div >
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <!-- Mashead text and app badges-->
                <div class="mb-5 mb-lg-0 text-center text-lg-start">
                    <h1 class="display-1 lh-1 mb-3">Your Gateway to Winning Contracts.</h1>
                    <p class="lead fw-normal text-muted mb-5">Welcome to BidPro, the leading platform for suppliers to discover and apply for open bids. Connect with opportunities, register with ease, and compete for contracts that drive your business forward.</p>
                    <div class="d-flex flex-column flex-lg-row align-items-center">
                        <a class="btn btn-primary" href="/User/Login">
                            Register now and apply for lucrative bids today!
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="masthead-device-mockup">
                    <img src="~/images/cfb.png" width="100%" height="100%" />
                </div>
            </div>
        </div>
    </div>
</div>
